@model IEnumerable<Shopperholics.Models.Products>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center1">
    <h1 class="display-4">
        <img src="~/images/sale-banner.jpg" alt="Shopper Holics" />

    </h1>
    <input class="searchbox" placeholder="Search for an item" spellcheck="false" type="text" value="">
    <div class="page-container">
    </div>
    <input id="Search" type="submit" value="search" onclick="return Submit1_onclick()" />
    <h1 class="display-4">
        <img src="~/images/firstads" alt="Ads" />
        <span class="span-col-s">Sale of The Day</span>
    </h1>
    
        <div class="header-container">

            <div class="slider-buttons">
                <img src="~/images/prevArrow.png" class="prev" onclick="prevImage()" />
                <img src="~/images/nextArrow.png" class="next" onclick="nextImage()" />
            </div>
        </div>

    
   


</div>

<div class="contain">
    @foreach (var item in Model)
    {

        <div class="photo-index-card">
            <form method="post" enctype="multipart/form-data" asp-action="AddToShoppingList">

                <h3>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </h3>

                @if (item.ImageName != null)
                {
                    <div class="image-wrapper">
                        <a asp-action="Details" asp-route-id="@item.id"><img src="@Url.Action("GetImage", "Products", new { id = item.id })" width="400" height="400" /></a>
                    </div>}
                <input name="id" type="hidden" class="form-control" value="@item.id">
                <input name="ProductName" type="hidden" class="form-control" value="@item.ProductName">
                <input name="Description" type="hidden" class="form-control" value="@item.Description">
                <input name="Price" type="hidden" class="form-control" value="@item.Price">


                <div>
                    <p>
                        @Html.DisplayFor(model => item.Description)
                    </p>
                    <p>
                        @Html.DisplayFor(model => item.Price)
                    </p>
                </div>
                <div>
                    <p>
                        @Html.DisplayNameFor(model => item.clickedonTimeDate)
                    </p>
                    <p>
                        @Html.DisplayFor(model => item.clickedonTimeDate)
                    </p>
                </div>
                <div id="btndiv">
                    @if (User.Identity.IsAuthenticated && !User.IsInRole("Administrator"))
                    {
                        <button id="formButton" type="submit" class="btn btn-outline-primary">
                            Add to Shopping List
                        </button>
                    }
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.id">Edit |</a>
                        <a asp-action="Details" asp-route-id="@item.id">Details |</a>
                        <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                    }


                </div>
            </form>
        </div>

    }
    </div>

